@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root {
    --water-light: #8ecae6;
    --water: #36a7c4;
    --water-dark: #023047;
    --honey: #FFB703;
    --orange: #FB8500;
    --blue: #1985A1;
    --coral-black: #4C5C68;
    --Gray: #46494C;
    --Silver: #C5C3C6;
    --Gainsbourg: #DCDCDD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: rgb(78, 78, 78);
    display: flex;    
    flex-direction: column;
}

h1 {
    z-index: 31;
    position: absolute;
    font-family: 'Yellowtail', cursive;
    transform: skew(-12deg) rotate(-12deg);
    font-size: 6em;
    margin: 0;
    padding: 30px;
    color: #ffffff7e;
    text-shadow: .1em .01em 3px #435cec, -.1em -.01em 4px #51c91a, -.1em .15em 5px red;
    top: 20px;   
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: .5rem;
}
 
.recap {
    background-color: rgb(32, 32, 32);
    color: rgb(0, 180, 0);
    border: 1px solid var(--Silver);
    grid-area:6/14/8/17;
    font-size: .9em;
    padding: 1rem;
}
.recap::before {
    content: 'Recap:';
    position: absolute;
    font-size: .9em;
    color: var(--honey);
    transform: 
        translateY(-16px)
        translateX(-10px);
}

.recap h4 {
    margin: .3em 0;
}


.playerBoard {
    background-color: rgb(47, 111, 194);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border-radius: 33px;
    grid-area: 3/4/9/11;
    transition: all 500ms ease-in-out;
    column-gap: .2rem;
    row-gap: .2rem;
    border: 1px solid var(--water-dark);
    cursor:pointer;
}
.playerBoard::before {
    position: absolute;
    color: white;
    content:'Kindly place your shots here.';
    transform: translateX(100px)
                translateY(-29px);
    font-style: oblique;
    background: rgba(0, 0, 0, 0.158);
    border: 1px black solid;
    padding:.1em .3em;
}

.playerBoard > div.shooting {
    transition:background-color 200ms, animation 200ms;
    background-color: rgb(255, 208, 0);
    animation: rotate-center 1.8s linear infinite both;
}
@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    33% {
        transform: scale(.6) rotate(120deg);
        
    }
    50% {
        border-radius: 50%;
    }
    66% {
        transform: scale(.8) rotate(240deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.playerBoard > div {
    background-color: rgb(36, 90, 170);
    border:1px solid rgba(255, 255, 255, 0.493);
    transition: transform 150ms, background-color 150ms;
}
.playerBoard > div:hover {
    background-color: var(--water-light);
    transform: scale(.9);
    transition: transform 150ms, background-color 150ms;
}
.playerBoard > div:active {
    background-color: var(--Gainsbourg);
    transform: scale(1.25);
    transition: transform 100ms, background-color 200ms;
}



.shipsBoard {
    border-radius: 15px;
    background-color: var(--Silver);
    display: grid;
    grid-area: 2/12/6/17;
    padding: 1rem;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    column-gap: .1rem;
    row-gap: .1rem;
    
}
.shipsBoard > div {
    background-color: var(--coral-black);
    border: 1px solid rgba(0, 0, 0, 0.801);
}
.shipsBoard > div.Carrier {
    background-color:chocolate;
}
.shipsBoard > div.Battleship {
    background-color: rgb(22, 163, 22);
}
.shipsBoard > div.Destroyer {
    background-color: var(--honey);
}
.shipsBoard > div.Submarine {
    background-color: var(--blue);
}
.shipsBoard > div.PatrolBoat {
    background-color: hotpink;
}

.shipsBoard > div.hit {
    background-color: rgb(161, 18, 18);
}

.shipsBoard > div.miss {
    background-color: rgb(152, 190, 226);
}

#computerInfos {
    grid-area: 3/17/7/21;
    border-top: 2px solid var(--Silver);
    border-bottom: 2px solid var(--Silver);
    height:375px;
    overflow: auto;
    padding: 1em 1em;
    background-color: #2c2c2ce0;
    border-radius: 5px;
    box-shadow: 1px 1px 15px var(--honey), inset 0px 0px 15px rgba(255, 255, 255, 0.705);
    color:rgb(243, 243, 243);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.87);
}


.container-grid > button {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
    transition: color 400ms;
    margin-top: 5px;
    padding: 1em 1.5em;
}

#start {
    z-index: 31;
    background-color: var(--orange);
    color: var(--water-dark);
    grid-area: 7/9/8/11;
    align-self: center;
    justify-self: center;

}
#start:hover {
    background-color: var(--water-dark);
    backdrop-filter: sepia(1);
    color: var(--orange);
    transition: all 400ms;
    cursor: pointer;
}

#rules {
    z-index: 31;
    background-color: var(--water-dark);
    color: var(--honey);
    grid-area: 7/12/8/13;
    align-self: center;
    justify-self: center;

}
#rules:hover {
    background-color: var(--honey);
    backdrop-filter: sepia(1);
    color: var(--water-dark);
    transition: all 400ms;
    cursor: pointer;
}
#randomizer {
    grid-area: 2/11/3/12;
    align-self: center;
    justify-content: center;
    color: var(--orange);
    background-color: rgb(48, 48, 48);
    padding: .3em;
    border-radius: 15px;
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
    border: 1px solid black;
}
#randomizer:hover {
    color: red;
    animation: vibrate-3 0.5s linear infinite both;
    box-shadow: 0px 0px 7px var(--honey);
}
#fire {
    grid-area: 7/12/8/12;
    align-self: start;
    padding: .5em 1em;
    cursor: pointer;
    font-weight: 700;
    color:rgb(251, 255, 0);
    font-size: 1.8em;
    transition: all 500ms;
}
#fire:hover {
    background-color: rgb(255, 38, 0);
}
#fire:active {
    background-color: black;
    color: red;
}
#fire::before {
    content: 'Clickety click';
   position: absolute;
    color: rgba(255, 255, 255, 0.596);
    font-size: .7em;
    transform-origin: center;
    transform: translateX(-75px) rotate(-25deg) translateY(-15px);

}

.invShips {
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    border: solid var(--Gray) 1px;
    cursor: grab;
}

.playerBoard > .hit {
    background-color: rgb(161, 18, 18);
}
.playerBoard > .miss {
    background-color: rgb(196, 253, 253);
}

.sank {
    color: rgb(247, 68, 68);
}

#main {
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/11/21;
    backdrop-filter: blur(8px);
    transition: visibility 1s;
    visibility: visible;
}

#main.blur {
    visibility: hidden;
}

.won {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.295);
    width: 750px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.164);
    color: rgba(255, 255, 255, 0.719);
    visibility: hidden;
}

.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.295);
    width: 750px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.164);
    visibility: hidden;
}
.rules > img {
    height: auto;
    width: 33%;
    border:2px solid white;
}

.rules.display {
    visibility:visible;
}

.rules > ul {
    list-style: none;
    color: rgba(255, 255, 255, 0.89);
    text-indent: 1em;
    line-height: 1.8em;
}
.rules .hit {
    color: rgb(161, 18, 18);
    font-weight: 700;
}

.rules .miss {
    color: rgb(196, 253, 253);
}

#startGame {
    grid-area: 4/11/5/12;
    align-self: center;
    justify-content: center;
    color: var(--orange);
    background-color: rgb(48, 48, 48);
    padding: .3em;
    border-radius: 15px;
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
    border: 1px solid black;

}
#startGame:hover {
    color: red;
    animation: vibrate-3 0.5s linear infinite both;
    box-shadow: 0px 0px 7px var(--honey);
}
/* Thanks Animista.net <3 */
@keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  #replayGame {
    margin-top: 2em;
    color: var(--orange);
    background-color: rgb(48, 48, 48);
    padding: .3em;
    border-radius: 15px;
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
    border: 1px solid black;

}
#replayGame:hover {
    color: red;
    animation: vibrate-3 0.5s linear infinite both;
    box-shadow: 0px 0px 7px var(--honey);
}