@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

:root {
    --water-light: #8ecae6;
    --water: #36a7c4;
    --water-dark: #023047;
    --honey: #FFB703;
    --orange: #FB8500;
    --blue: #1985A1;
    --coral-black: #4C5C68;
    --Gray: #46494C;
    --Silver: #C5C3C6;
    --Gainsbourg: #DCDCDD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: darkgray;
    display: flex;    
    flex-direction: column;
}

nav {
    height: 75px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: .5rem;
}
 
.recap {
    background-color: var(--Silver);
    border: 1px solid var(--coral-black);
    grid-area:5/14/7/17;
    font-size: .9em;
    padding: 1rem;
    
}
.recap::before {
    content: 'Recap:';
    position: absolute;
    font-size: .9em;
    color: var(--water-dark);
    transform: 
        translateY(-16px)
        translateX(-10px);

}


.playerBoard {
    background-color: var(--blue);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border-radius: 33px;
    grid-area: 2/4/8/11;
    transition: all 500ms ease-in-out;
    column-gap: .2rem;
    row-gap: .2rem;
    border: 1px solid var(--water-dark);
    cursor:pointer;
}

.playerBoard > div.shooting {
    background-color: var(--orange);
    animation: rotate-center 1.8s linear infinite both;
}
@keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    33% {
        transform: scale(.6) rotate(120deg);
        
    }
    66% {
        transform: scale(.8) rotate(240deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.playerBoard > div {
    background-color: var(--water);
    transition: transform 150ms, background-color 150ms;
}
.playerBoard > div:hover {
    background-color: var(--water-light);
    transform: scale(.9);
    transition: transform 150ms, background-color 150ms;
}
.playerBoard > div:active {
    background-color: var(--Gainsbourg);
    transform: scale(1.25);
    transition: transform 100ms, background-color 200ms;
}



.shipsBoard {
    border-radius: 15px;
    background-color: var(--Gray);
    display: grid;
    grid-area: 1/12/5/17;
    padding: 1rem;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    column-gap: .1rem;
    row-gap: .1rem;
    
}
.shipsBoard > div {
    background-color: var(--coral-black);
}
.shipsBoard > div.Carrier {
    background-color:chocolate;
}
.shipsBoard > div.Battleship {
    background-color: rgb(22, 163, 22);
}
.shipsBoard > div.Destroyer {
    background-color: var(--honey);
}
.shipsBoard > div.Submarine {
    background-color: var(--blue);
}
.shipsBoard > div.PatrolBoat {
    background-color: hotpink;
}

.shipsBoard > div.hit {
    background-color: rgb(161, 18, 18);
}

.shipsBoard > div.miss {
    background-color: rgb(196, 253, 253);
}

#computerInfos {
    grid-area: 2/17/6/21;
    border-top: 1px solid var(--Gray);
    border-bottom: 1px solid var(--Gray);
    height:375px;
    overflow: auto;
    padding: 1em 1em;
    background-color: #cccccce0;
}



.container-grid > button {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
    transition: color 400ms;
    margin-top: 5px;
    padding: 1em 1.5em;
}

#start {
    background-color: var(--orange);
    color: var(--water-dark);
    grid-area: 3/1/5/4;
    align-self: center;
    justify-self: center;

}
#start:hover {
    background-color: var(--water-dark);
    backdrop-filter: sepia(1);
    color: var(--orange);
    transition: all 400ms;
    cursor: pointer;
}

#rules {
    background-color: var(--water-dark);
    color: var(--honey);
    grid-area: 5/1/6/4;
    align-self: center;
    justify-self: center;

}
#rules:hover {
    background-color: var(--honey);
    backdrop-filter: sepia(1);
    color: var(--water-dark);
    transition: all 400ms;
    cursor: pointer;
}
#randomizer {
    grid-area: 1/11/2/12;
    align-self: center;
    justify-content: center;
    color: var(--orange);
    background-color: var(--water-dark);
    padding: .5em;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}

#fire {
    
    all: initial;
    font-family: 'Comfortaa', cursive;
    grid-area: 5/12/6/12;
    align-self: end;
    justify-self: start;
    padding: .5em 1.5em;
    border-bottom: 1px solid var(--Gray);    
    border-right: 1px solid var(--Gray);
    background: repeating-radial-gradient();
    cursor: pointer;
    font-weight: 700;
    color:rgb(65, 0, 0);
}
#fire:active {
    background-color: rgb(153, 153, 153);
    border-inline: 2px solid black;
    border: 1px solid black;
}

nav {
    background-color: rgb(197, 197, 197);
}

.invShips {
    border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
    border: solid var(--Gray) 1px;
    cursor: grab;
}

.playerBoard > .hit {
    background-color: rgb(161, 18, 18)!important;
}
.playerBoard > .miss {
    background-color: rgb(196, 253, 253)!important;
}

.sank {
    color: var(--water);
}